# Descriptive Statistic
[Short Description](./assets/Descriptive%20Statistic.pptx)

With the given data

creating the data frame using this dictionary
(you may copy the source code and paste it in your code editor)
```python
data = {
    'section 1':[13,8,18.5,8.5,12.5,12,8.5,7.5,6.5,13,14,8.5,8.5,15,11,12.5],
    'section 2':[10,7,12,15,11,13.5,13,13,3,7.5,15,8,11.5,5,10,11],
    'section 3':[16,14,16,15,15,19,15.5,17,12,15,17,15,16,17,14,13],
    'section 4':[12,6.5,12.5,16.5,17,20,10,12,2,5,9,10,18,12.5,7,13]
}
frame = pd.DataFrame(data)
frame
```

In [2]:
import pandas as pd

In [3]:
data = {
    'section 1':[13,8,18.5,8.5,12.5,12,8.5,7.5,6.5,13,14,8.5,8.5,15,11,12.5],
    'section 2':[10,7,12,15,11,13.5,13,13,3,7.5,15,8,11.5,5,10,11],
    'section 3':[16,14,16,15,15,19,15.5,17,12,15,17,15,16,17,14,13],
    'section 4':[12,6.5,12.5,16.5,17,20,10,12,2,5,9,10,18,12.5,7,13]
}
frame = pd.DataFrame(data)
frame

    section 1  section 2  section 3  section 4
0        13.0       10.0       16.0       12.0
1         8.0        7.0       14.0        6.5
2        18.5       12.0       16.0       12.5
3         8.5       15.0       15.0       16.5
4        12.5       11.0       15.0       17.0
5        12.0       13.5       19.0       20.0
6         8.5       13.0       15.5       10.0
7         7.5       13.0       17.0       12.0
8         6.5        3.0       12.0        2.0
9        13.0        7.5       15.0        5.0
10       14.0       15.0       17.0        9.0
11        8.5        8.0       15.0       10.0
12        8.5       11.5       16.0       18.0
13       15.0        5.0       17.0       12.5
14       11.0       10.0       14.0        7.0
15       12.5       11.0       13.0       13.0

to get all the description, use the function describe
```python
frame.describe()
```

In [4]:
frame.describe()

       section 1  section 2  section 3  section 4
count  16.000000  16.000000  16.000000  16.000000
mean   11.093750  10.343750  15.406250  11.437500
std     3.277289   3.462748   1.705078   4.918926
min     6.500000   3.000000  12.000000   2.000000
25%     8.500000   7.875000  14.750000   8.500000
50%    11.500000  11.000000  15.250000  12.000000
75%    13.000000  13.000000  16.250000  13.875000
max    18.500000  15.000000  19.000000  20.000000

We can get only some described statistic by calling the related methods
```python
frame.count()
```

In [5]:
frame.count()

section 1    16
section 2    16
section 3    16
section 4    16
dtype: int64

In addition, we can find the described statistic for only some parameter
```python
frame['section 1'].min()
```

In [6]:
frame['section 1'].min()

6.5

All descriptive function which can be called is provided


![image-20230806163647409](./assets/image-20230806163647409.png)

You may try calling the functions
```python
farme.var()
```

In [9]:
frame.var()

section 1    10.740625
section 2    11.990625
section 3     2.907292
section 4    24.195833
dtype: float64

In some statisticl data, like correlation, and covariance are compare from pairs of parameter

Lest's download the data of the stock prices and volumes obtained from Yahoo! finance and calculate for the covarience

The yfinance which is the third party library is used to get the data from Yahoo! finance (the original pandas_datareader is not working with Yahoo! finance anymore) [yfinance](https://pypi.org/project/yfinance/)

To install the library, you may use the following command
```python
!pip install yfinance
```

**Note** Yahoo has updated their api, so we need the fixed version of pandas_datareader which implemented the new api provided by third party. (The official one is still wait for the pull request for this update)

The following code is used to get the data from Yahoo! finance
```python
import pandas as pd
import yfinance as yf
all_data = {ticker: yf.Ticker(ticker).history(period="10y")
            for ticker in ['GOOG','IBM']}
all_data

```

In [10]:
import pandas as pd
import yfinance as yf
all_data = {ticker: yf.Ticker(ticker).history(period="10y")
            for ticker in ['GOOG','IBM']}
all_data

{'GOOG':                                  Open        High         Low       Close  \
 Date
 2013-11-04 00:00:00-05:00   25.691202   25.712872   25.455338   25.556955
 2013-11-05 00:00:00-05:00   25.413494   25.694939   25.340519   25.442635
 2013-11-06 00:00:00-05:00   25.544254   25.579123   25.289459   25.473270
 2013-11-07 00:00:00-05:00   25.469784   25.502661   25.096931   25.104652
 2013-11-08 00:00:00-05:00   25.124577   25.367416   25.118349   25.305897
 ...                               ...         ...         ...         ...
 2023-10-27 00:00:00-04:00  124.029999  124.440002  121.459999  123.400002
 2023-10-30 00:00:00-04:00  124.459999  126.550003  123.879997  125.750000
 2023-10-31 00:00:00-04:00  126.269997  126.559998  123.925003  125.300003
 2023-11-01 00:00:00-04:00  125.339996  127.739998  124.925003  127.570000
 2023-11-02 00:00:00-04:00  129.559998  130.089996  128.210007  128.580002

                              Volume  Dividends  Stock Splits
 Date
 2013-11-04 00:00:00-05:00  45722740        0.0           0.0
 2013-11-05 00:00:00-05:00  47433127        0.0           0.0
 2013-11-06 00:00:00-05:00  36652871        0.0           0.0
 2013-11-07 00:00:00-05:00  67435822        0.0           0.0
 2013-11-08 00:00:00-05:00  51825529        0.0           0.0
 ...                             ...        ...           ...
 2023-10-27 00:00:00-04:00  37367700        0.0           0.0
 2023-10-30 00:00:00-04:00  24165600        0.0           0.0
 2023-10-31 00:00:00-04:00  21123400        0.0           0.0
 2023-11-01 00:00:00-04:00  26501600        0.0           0.0
 2023-11-02 00:00:00-04:00   8865202        0.0           0.0

 [2517 rows x 7 columns],
 'IBM':                                  Open        High         Low       Close  \
 Date
 2013-11-04 00:00:00-05:00  113.705252  114.274099  113.351308  113.939110
 2013-11-05 00:00:00-05:00  113.477689  113.642020  112.321040  112.409531
 2013-11-06 00:00:00-05:00  113.051336  114.220545  112.968729  113.864700
 2013-11-07 00:00:00-05:00  114.125199  115.262633  114.125199  114.379379
 2013-11-08 00:00:00-05:00  113.635946  114.430253  112.695501  114.373062
 ...                               ...         ...         ...         ...
 2023-10-27 00:00:00-04:00  143.619995  144.699997  141.710007  142.520004
 2023-10-30 00:00:00-04:00  143.190002  144.500000  142.580002  142.630005
 2023-10-31 00:00:00-04:00  143.000000  144.759995  142.589996  144.639999
 2023-11-01 00:00:00-04:00  145.000000  146.509995  144.449997  145.399994
 2023-11-02 00:00:00-04:00  145.770004  146.826996  144.839996  146.475006

                             Volume  Dividends  Stock Splits
 Date
 2013-11-04 00:00:00-05:00  3643532   0.000000           0.0
 2013-11-05 00:00:00-05:00  6377253   0.000000           0.0
 2013-11-06 00:00:00-05:00  4770492   0.908222           0.0
 2013-11-07 00:00:00-05:00  5459597   0.000000           0.0
 2013-11-08 00:00:00-05:00  6563650   0.000000           0.0
 ...                            ...        ...           ...
 2023-10-27 00:00:00-04:00  5469200   0.000000           0.0
 2023-10-30 00:00:00-04:00  4204100   0.000000           0.0
 2023-10-31 00:00:00-04:00  6591800   0.000000           0.0
 2023-11-01 00:00:00-04:00  4748700   0.000000           0.0
 2023-11-02 00:00:00-04:00  1048364   0.000000           0.0

 [2517 rows x 7 columns]}

The data is stored in the dictionary, you can get the data of each stock by calling the key of the dictionary
```python
all_data['GOOG']
```

In [11]:
all_data['GOOG']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-11-04 00:00:00-05:00,25.691202,25.712872,25.455338,25.556955,45722740,0.0,0.0
2013-11-05 00:00:00-05:00,25.413494,25.694939,25.340519,25.442635,47433127,0.0,0.0
2013-11-06 00:00:00-05:00,25.544254,25.579123,25.289459,25.473270,36652871,0.0,0.0
2013-11-07 00:00:00-05:00,25.469784,25.502661,25.096931,25.104652,67435822,0.0,0.0
2013-11-08 00:00:00-05:00,25.124577,25.367416,25.118349,25.305897,51825529,0.0,0.0
...,...,...,...,...,...,...,...
2023-10-27 00:00:00-04:00,124.029999,124.440002,121.459999,123.400002,37367700,0.0,0.0
2023-10-30 00:00:00-04:00,124.459999,126.550003,123.879997,125.750000,24165600,0.0,0.0
2023-10-31 00:00:00-04:00,126.269997,126.559998,123.925003,125.300003,21123400,0.0,0.0
2023-11-01 00:00:00-04:00,125.339996,127.739998,124.925003,127.570000,26501600,0.0,0.0
2023-11-02 00:00:00-04:00,129.559998,130.089996,128.210007,128.580002,8865202,0.0,0.0

we can extract create the data frame of price from each stock
```python
price = pd.DataFrame({ticker: data['Close']
                      for ticker, data in all_data.items()})
price
```

In [12]:
price = pd.DataFrame({ticker: data['Close']
                      for ticker, data in all_data.items()})
price

                                 GOOG         IBM
Date
2013-11-04 00:00:00-05:00   25.556955  113.939110
2013-11-05 00:00:00-05:00   25.442635  112.409531
2013-11-06 00:00:00-05:00   25.473270  113.864700
2013-11-07 00:00:00-05:00   25.104652  114.379379
2013-11-08 00:00:00-05:00   25.305897  114.373062
...                               ...         ...
2023-10-27 00:00:00-04:00  123.400002  142.520004
2023-10-30 00:00:00-04:00  125.750000  142.630005
2023-10-31 00:00:00-04:00  125.300003  144.639999
2023-11-01 00:00:00-04:00  127.570000  145.399994
2023-11-02 00:00:00-04:00  128.580002  146.475006

[2517 rows x 2 columns]

and create the data frame of Volume
```python
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})
volume
```

In [13]:
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})
volume

                               GOOG      IBM
Date
2013-11-04 00:00:00-05:00  45722740  3643532
2013-11-05 00:00:00-05:00  47433127  6377253
2013-11-06 00:00:00-05:00  36652871  4770492
2013-11-07 00:00:00-05:00  67435822  5459597
2013-11-08 00:00:00-05:00  51825529  6563650
...                             ...      ...
2023-10-27 00:00:00-04:00  37367700  5469200
2023-10-30 00:00:00-04:00  24165600  4204100
2023-10-31 00:00:00-04:00  21123400  6591800
2023-11-01 00:00:00-04:00  26501600  4748700
2023-11-02 00:00:00-04:00   8865202  1048364

[2517 rows x 2 columns]

The data frame of price and volume are shown as given
```python
price['GOOG']
price['IBM']
```

In [14]:
price['GOOG']
price['IBM']

Date
2013-11-04 00:00:00-05:00    113.939110
2013-11-05 00:00:00-05:00    112.409531
2013-11-06 00:00:00-05:00    113.864700
2013-11-07 00:00:00-05:00    114.379379
2013-11-08 00:00:00-05:00    114.373062
                                ...
2023-10-27 00:00:00-04:00    142.520004
2023-10-30 00:00:00-04:00    142.630005
2023-10-31 00:00:00-04:00    144.639999
2023-11-01 00:00:00-04:00    145.399994
2023-11-02 00:00:00-04:00    146.475006
Name: IBM, Length: 2517, dtype: float64

The percent changed of each day is calculated as time series (described in later class) is shown as given

**Hint** tail() function is used to show the last data, the default is 5 data, you may change the number of showed data by add the number you want to show as the input parameter of the tail methods

```python
returns = price.pct_change()
returns.tail()
```

In [15]:
returns = price.pct_change()
returns.tail()

                               GOOG       IBM
Date
2023-10-27 00:00:00-04:00 -0.000324 -0.008625
2023-10-30 00:00:00-04:00  0.019044  0.000772
2023-10-31 00:00:00-04:00 -0.003579  0.014092
2023-11-01 00:00:00-04:00  0.018116  0.005254
2023-11-02 00:00:00-04:00  0.007917  0.007393

The corr method, and cov methods will calculate the correlation and covarience of the overlapping, non-NA,
aligned-by-index values in two Series
```python
returns['GOOG'].corr(returns['IBM'])
returns['GOOG'].cov(returns['IBM'])
```

In [16]:
returns['GOOG'].corr(returns['IBM'])
returns['GOOG'].cov(returns['IBM'])

0.00010360049720720775

we can call pct_change() method to calculate the percent change of each day

So we can calculate the correlation between the price change and volume change
```python
changePrice['GOOG'].corr(volumeChange['GOOG'])
price['GOOG'].corr(volume['GOOG'])
```

In [17]:
changePrice['GOOG'].corr(volumeChange['GOOG'])
price['GOOG'].corr(volume['GOOG'])

NameError: name 'changePrice' is not defined

# Described statistic Hand ons

You can get the data frame of exchange rate between THB



and USD using the given source code.
The provider of the data is from [Fred, St.Louis Fed](https://fred.stlouisfed.org/), you can search for many data provided by them using the given code and change the reader index to the value you want to get





![image.png]()

The pandas data reader is used to get the data from the given source
We need to upgrade the pandas_datareader to read the new format of the web site using the given code

```
!pip install pandas_datareader --upgrade
```

To get the exchange rate from the FRED (Federal Reserve Economic Data) from the given code
```python
import pandas_datareader.data as web
thusd = web.get_data_fred('DEXTHUS')
thusd
```

In [19]:

import pandas_datareader.data as web
thusd = web.get_data_fred('DEXTHUS')
thusd

            DEXTHUS
DATE
2018-11-05    32.96
2018-11-06    32.92
2018-11-07    32.81
2018-11-08    32.94
2018-11-09    33.09
...             ...
2023-10-23    36.34
2023-10-24    36.15
2023-10-25    36.15
2023-10-26    36.31
2023-10-27    36.18

[1300 rows x 1 columns]

**Task** Write the code to show the minimum exchnage rate, maximum exchange rate
the standard deriviation, the exchange rate which at percentile 90

In [22]:
import pandas as pd
import pandas_datareader.data as web
thusd = web.get_data_fred('DEXTHUS')
df = thusd 

# Calculate the statistics
min_exchange_rate = df['DEXTHUS'].min()
max_exchange_rate = df['DEXTHUS'].max()
std_dev = df['DEXTHUS'].std()
percentile_90 = df['DEXTHUS'].quantile(0.9)

# Print the results
print(f"Minimum exchange rate: {min_exchange_rate}")
print(f"Maximum exchange rate: {max_exchange_rate}")
print(f"Standard deviation: {std_dev:.3f}")
print(f"Exchange rate at the 90th percentile: {percentile_90}")

Minimum exchange rate: 29.75
Maximum exchange rate: 38.28
Standard deviation: 2.008
Exchange rate at the 90th percentile: 35.63

get the date which the mininum exchange rate, maximum exchnage rate, and the exchange rate which is at percentilie 90 are

**Hint**: to get the index name of the data you need, you can use the code example

In [ ]:
import numpy as np
a = pd.DataFrame(np.arange(10).reshape(5,2),columns=['c1','c2'])
# get the list of index name which the value in series c1 is equal to 8
a.c1[a.c1 == 8].index.tolist()

#### Task

Loading the Crude Oild Prices from fred (using this data "Crude Oil Prices: Brent - Europe"),
Show the covarience, and correlation of the value the oil price  and the exchange rate. and the covarience, and corelation of the percent change for both of them.

In [27]:
import pandas_datareader.data as web
df = web.get_data_fred('DCOILBRENTEU')
df

            DCOILBRENTEU
DATE
2018-11-05         72.68
2018-11-06         70.64
2018-11-07         70.10
2018-11-08         69.29
2018-11-09         69.01
...                  ...
2023-10-24         88.00
2023-10-25         90.14
2023-10-26         88.45
2023-10-27         90.73
2023-10-30         90.73

[1301 rows x 1 columns]

In [29]:
import pandas as pd
import pandas_datareader.data as web

# Load the exchange rate data and oil price data
df_exchange_rate = web.get_data_fred('DEXTHUS')
df_dc = web.get_data_fred('DCOILBRENTEU')

# Merge the two DataFrames on the "DATE" column
merged_df = pd.merge(df_exchange_rate, df_dc, on="DATE")

# Calculate covariance and correlation for the oil price and exchange rate
covariance = merged_df['DCOILBRENTEU'].cov(merged_df['DEXTHUS'])
correlation = merged_df['DCOILBRENTEU'].corr(merged_df['DEXTHUS'])

# Calculate percent changes for oil price and exchange rate
merged_df['DCOILBRENTEU_pct_change'] = merged_df['DCOILBRENTEU'].pct_change()
merged_df['DEXTHUS_pct_change'] = merged_df['DEXTHUS'].pct_change()

# Calculate covariance and correlation for the percent changes
covariance_pct_change = merged_df['DCOILBRENTEU_pct_change'].cov(merged_df['DEXTHUS_pct_change'])
correlation_pct_change = merged_df['DCOILBRENTEU_pct_change'].corr(merged_df['DEXTHUS_pct_change'])

print(f"Covariance (oil price & exchange rate): {covariance}")
print(f"Correlation (oil price & exchange rate): {correlation}")
print(f"Covariance (% change of oil price & % change of exchange rate): {covariance_pct_change}")
print(f"Correlation (% change of oil price & % change of exchange rate): {correlation_pct_change}")

Covariance (oil price & exchange rate): 28.580576859432526
Correlation (oil price & exchange rate): 0.6500025680019852
Covariance (% change of oil price & % change of exchange rate): -1.2826482293243619e-05
Correlation (% change of oil price & % change of exchange rate): -0.08639509159189993

C:\Users\satie\AppData\Local\Temp\ipykernel_3536\3394810882.py:16: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Call ffill before calling pct_change to retain current behavior and silence this warning.
  merged_df['DCOILBRENTEU_pct_change'] = merged_df['DCOILBRENTEU'].pct_change()
C:\Users\satie\AppData\Local\Temp\ipykernel_3536\3394810882.py:17: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Call ffill before calling pct_change to retain current behavior and silence this warning.
  merged_df['DEXTHUS_pct_change'] = merged_df['DEXTHUS'].pct_change()

# Data Loading

Pandas support many data loading scheme and Data sources

There are many format that the pandas support

Start by the very simple one, the csv file

csv is standed for comma seperate value, the value is seperated by the comma you can see the example [here](./examples/example.csv)

The ex1.csv is provided n the examples folder

you can check the content using notepads or in IDEs

Then we create the dataframe from the given csv file
```python
df = pd.read_csv('examples/ex1.csv')
df
```

In [30]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Some file may not contain a header row, for example this [file ex2.csv](./examples/ex2.csv)

We can assign default column names
```python
pd.read_csv('examples/ex2.csv', header=None)
```

In [31]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

or we can set the name ourselves
```python
pd.read_csv('examples/ex2.csv', names=['a','b','c','d','message'])
```

In [32]:
pd.read_csv('examples/ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

What if we missed the column name, what will be return?
```python
pd.read_csv('examples/ex2.csv', names=['c','d','message'])
```

In [33]:
pd.read_csv('examples/ex2.csv', names=['c','d','message'])

       c   d message
1 2    3   4   hello
5 6    7   8   world
9 10  11  12     foo

If we want to form the hierachical index from multiple column, you can use the [file csv_mindex.csv](./examples/csv_mindex.csv), and the code as given
```python
parsed = pd.read_csv('examples/csv_mindex.csv')
parsed
```

In [34]:
parsed = pd.read_csv('examples/csv_mindex.csv')
parsed

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

the index column can be set
```python
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1','key2'])
parsed
```

In [35]:
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

To write the csv from pandas, symply use to_csv method.

read the data from the example file
```python
data = pd.read_csv('examples/ex3.csv')
data
```

In [36]:
data = pd.read_csv('examples/ex3.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

Write out the file

then refresh the Files pane to see the output
```python
data.to_csv('examples/out.csv')
```

In [37]:
data.to_csv('examples/out.csv')

Check the content of the file in out.csv, and ex3.csv

We can redirect the output to the console to see the output before writing the file, using the `sys.stdout` instead of the file name
In addition

We can change the seperator using the given snippet

and handle with the NaN data using the `na_rep` parameter
```python
import  sys
data.to_csv(sys.stdout)
data.to_csv(sys.stdout,sep='|')

data.to_csv(sys.stdout, na_rep = 'NULL')
```

In [38]:
import  sys
data.to_csv(sys.stdout)
data.to_csv(sys.stdout,sep='|')

data.to_csv(sys.stdout, na_rep = 'NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo
|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo
,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

# Handons loading csv

With the given [file sample.csv](./examples/samples.csv), create the DataFrame which is similar to the data frame in

![image-20230806173037975](./assets/image-20230806173037975.png)

In [42]:
colnames=['Section 1','Sections 2','Sections 3','Sections 4']
df = pd.read_csv('examples/samples.csv', names=colnames, header=None)
df

    Section 1  Sections 2  Sections 3  Sections 4
0        13.0        10.0        16.0        12.0
1         8.0         7.0        14.0         6.5
2        18.5        12.0        16.0        12.5
3         8.5        15.0        15.0        16.5
4        12.5        11.0        15.0        17.0
5        12.0        13.5        19.0        20.0
6         8.5        13.0        15.5        10.0
7         7.5        13.0        17.0        12.0
8         6.5         3.0        12.0         2.0
9        13.0         7.5        15.0         5.0
10       14.0        15.0        17.0         9.0
11        8.5         8.0        15.0        10.0
12        8.5        11.5        16.0        18.0
13       15.0         5.0        17.0        12.5
14       11.0        10.0        14.0         7.0
15       12.5        11.0        13.0        13.0

and then select only the index which total score (the summation score in section 1,2,3,4 is more than 50 and write out to the file name out1.csv)

In [44]:
import pandas as pd
colnames=['Section 1','Sections 2','Sections 3','Sections 4']
data = pd.read_csv('examples/samples.csv', names=colnames, header=None)

# Calculate the total score for each row
data['Total Score'] = data[['Section 1', 'Sections 2', 'Sections 3', 'Sections 4']].sum(axis=1)

# Select rows where the total score is more than 50
selected_rows = data[data['Total Score'] > 50]

# Write the selected rows to out1.csv
selected_rows.to_csv('out1.csv', index=False)

selected_rows.head()

   Section 1  Sections 2  Sections 3  Sections 4  Total Score
0       13.0        10.0        16.0        12.0         51.0
2       18.5        12.0        16.0        12.5         59.0
3        8.5        15.0        15.0        16.5         55.0
4       12.5        11.0        15.0        17.0         55.5
5       12.0        13.5        19.0        20.0         64.5

# Reading the Excel file

One of the popular data source is the excel file
We can get the pandas retrive the data to the data frame for further implementation.

With the [example file](examples/ex1.xlsx), load the file as given

Then we have to import the excel file using the given code
```python
xlsx = pd.ExcelFile('examples/ex1.xlsx')
xlsx
```
**note** if there are some errors occur, please find the way to fix it :P

In [47]:
xlsx = pd.read_excel('examples/ex1.xlsx')
xlsx

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

Then we have to select which sheet we want to retrieve data
```python
df = pd.read_excel(xlsx,'Sheet1')
df
```

In [49]:
df = pd.read_excel('examples/ex1.xlsx',sheet_name='Sheet1')
df

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

`The unnamed`: column is shown as there is some special data is stored in the excel file, so we can filter it using the given code
```python
df = df[df.filter(regex='^(?!Unnamed)').columns]
df
```

In [50]:
df = df[df.filter(regex='^(?!Unnamed)').columns]
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Or we can make the read_excel shorter than call 2 times as given
```python
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame
```

In [51]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

If the data frame is in the first row, and first column, we can specified the start row, and column.
For example, the given [file](https://drive.google.com/open?id=1FAwZewZknR-eQKTVJELoVrpKdpxjEQ1U)

```python
frame = pd.read_excel('examples/samples.xlsx',sheet_name='Sheet1',
                      index_col= 0,usecols="B:K",

                      skiprows=4,nrows=33)
frame
```

In [52]:
frame = pd.read_excel('examples/samples.xlsx',sheet_name='Sheet1',
                      index_col= 0,usecols="B:K",

                      skiprows=4,nrows=33)
frame

,Name,Last Name,Attendance (5),Lab (15),Project (10),Midterm (30),Final (40),Total,Grade
ID,,,,,,,,,
492115002,KANNIGA,SAGON,5,10.828125,7.914062,8.7,10.000000,42.442188,D
492115003,KASIN,VISRUTAVANIJ,5,11.390625,8.195312,14.0,11.666667,50.252604,C
492115004,KITTIKUN,PANSAILOM,4,11.343750,7.671875,15.8,11.666667,50.482292,C
492115007,KANITTA,MOONLAPONG,5,13.453125,9.226562,19.5,28.333333,75.513021,A
492115008,JARUWAN,WANNAGOAT,5,11.437500,8.218750,14.2,20.000000,58.856250,C+
492115009,JIRAPHAT,JOKDEE,5,12.703125,8.851562,22.4,21.666667,70.621354,A
492115010,JENJIRA,JAIMUNK,5,12.750000,8.875000,20.6,15.833333,63.058333,B
492115012,CHOMPUNUT,SOIJIT,5,12.890625,8.945312,23.9,17.500000,68.235938,B+
492115014,THITI,SUNUNTA,5,12.562500,8.781250,21.4,13.333333,61.077083,B
492115015,NATTAKORN,KIRDKAEW,5,12.140625,8.570312,18.5,15.833333,60.044271,B
492115016,NATTHAPONG,IWANA,5,12.375000,8.687500,12.0,17.500000,55.562500,C+
492115017,NUTTAWADEE,SURIYANUNT,4,11.906250,7.953125,12.7,9.166667,45.726042,D+
492115018,SONGSAK,MAMEA,5,10.921875,7.960938,11.5,7.500000,42.882812,D
492115021,TANAKORN,TACHAWUTTIPAT,5,11.671875,8.335938,13.9,17.500000,56.407812,C+
492115022,TISINEE,SURAPUNT,4,12.093750,8.046875,18.8,20.833333,63.773958,B
492115023,THEERAPAT,SRITHARATHIKHUN,5,12.281250,8.640625,22.8,20.000000,68.721875,B+
492115024,NOOTSARA,INTAPUN,5,12.046875,8.523438,15.6,23.333333,64.503646,B
492115027,PONGPIJIT,UTTRAMAPOKRAY,5,13.200000,9.100000,15.0,13.333333,55.633333,C+
492115030,PANUWAT,THEEKAPORN,5,13.450000,9.225000,13.2,15.833333,56.708333,C+
492115031,PANUPONG,BANDITPURITAT,5,12.375000,8.687500,19.8,17.500000,63.362500,B
492115032,PAWINEE,SUBPAN,5,12.609375,8.804688,11.6,20.833333,58.847396,C+
492115034,PEERAWAT,POOMBUA,3,12.984375,7.992188,16.8,16.666667,57.443229,C+
492115035,MAYSINEE,CHANACHOMPU,4,13.171875,8.585938,13.2,13.333333,52.291146,C
492115036,RAPIPORN,BANJAREARN,4,14.156250,9.078125,14.4,12.500000,54.134375,C
492115037,WARITSARA,JITMUN,5,13.265625,9.132812,16.2,11.666667,55.265104,C+
492115038,WALAILUCK,SUWANNASOPON,4,13.218750,8.609375,12.0,15.833333,53.661458,C
492115039,WATCHARAPONG,MOONRIN,5,11.625000,8.312500,23.6,23.333333,71.870833,A
492115040,SIWAPORN,MANOCHOMPHU,4,13.687500,8.843750,14.2,15.000000,55.731250,C+
492115041,SUTTIPONG,INTAYA,4,14.718750,9.359375,19.8,24.166667,72.044792,A
492115042,SUTTIPONG,PUNYAWORASIN,4,13.078125,8.539062,11.2,15.000000,51.817188,C
492115043,SUPAPORN,KOMLUE,5,13.968750,9.484375,8.4,11.666667,48.519792,D+
492115044,SURAKIT,SUKJUN,5,12.328125,8.664062,19.0,10.000000,54.992188,C
492115045,APITCHAKA,SINGJAI,5,12.609375,8.804688,16.4,9.166667,51.980729,C

**Hint,** to show all row you may set it by


The default value is 10
```python
pd.set_option('display.max_rows', None)
```

### Task
Frame the sample.xlsx data frame.

Try to show the students whose grade is C, C+


then show the lowest score to get C, the highest score to get C+

In [56]:

# Load the data
df = frame

# Display the first few rows of the dataframe
df.head()

,Name,Last Name,Attendance (5),Lab (15),Project (10),Midterm (30),Final (40),Total,Grade
ID,,,,,,,,,
492115002,KANNIGA,SAGON,5,10.828125,7.914062,8.7,10.000000,42.442188,D
492115003,KASIN,VISRUTAVANIJ,5,11.390625,8.195312,14.0,11.666667,50.252604,C
492115004,KITTIKUN,PANSAILOM,4,11.343750,7.671875,15.8,11.666667,50.482292,C
492115007,KANITTA,MOONLAPONG,5,13.453125,9.226562,19.5,28.333333,75.513021,A
492115008,JARUWAN,WANNAGOAT,5,11.437500,8.218750,14.2,20.000000,58.856250,C+

In [57]:
# Filter students with grade 'C' and 'C+'
c_students = df[df['Grade'] == 'C']
c_plus_students = df[df['Grade'] == 'C+']

# Determine the lowest score for grade 'C' and the highest score for grade 'C+'
lowest_score_c = c_students['Total'].min()
highest_score_c_plus = c_plus_students['Total'].max()

lowest_score_c, highest_score_c_plus

(50.25260416666667, 58.85625)

# Getting data from Web APIs

Some web site provide the WebAPIs which we can receive data using json object
Try to click on this [link](https://api.github.com/repos/pandas-dev/pandas/issues)

you will see the list of last 30 GitHub issue for pandas on Github,
we can add read the data using the Python as given
```python
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp
```

In [58]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

The response object show the response code (200 means it is successfully downloaded)

To read the data which come with it. Use the json method
```python
data = resp.json()
data
```

In [59]:
data = resp.json()
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55803',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55803/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55803/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55803/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/55803',
  'id': 1974655277,
  'node_id': 'I_kwDOAA0YD851stkt',
  'number': 55803,
  'title': "DOC: na_values defaults for read_csv don't match STR_NA_VALUES correctly",
  'user': {'login': 'johnmreynolds',
   'id': 27818248,
   'node_id': 'MDQ6VXNlcjI3ODE4MjQ4',
   'avatar_url': 'https://avatars.githubusercontent.com/u/27818248?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/johnmreynolds',
   'html_url': 'https://github.com/johnmreynolds',
   'followers_url': 'https://api.github.com/users/johnmreynolds/followers',
   'following_url': 'https://api.github.com/users/johnmreynolds/following{/other_user}',
   'gists_url': 'https://api.github.com/users/johnmreynolds/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/johnmreynolds/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/johnmreynolds/subscriptions',
   'organizations_url': 'https://api.github.com/users/johnmreynolds/orgs',
   'repos_url': 'https://api.github.com/users/johnmreynolds/repos',
   'events_url': 'https://api.github.com/users/johnmreynolds/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/johnmreynolds/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 3,
  'created_at': '2023-11-02T16:47:39Z',
  'updated_at': '2023-11-02T17:00:12Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)\n\n\n### Location of the documentation\n\nhttps://pandas.pydata.org/docs/reference/api/pandas.read_csv.html\n\n### Documentation problem\n\nIn https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html the list of na_values is supposed to match the list in STR_NA_VALUES.\r\n\r\nHowever, in https://github.com/pandas-dev/pandas/commit/d4889bc61669642d79372746d697c4ccc5d274d4 the change to double quotes broke the first one, which is now incorrectly displayed as " ", i.e. a single space, rather than the correct "".\r\n\r\nCuriously, read_excel still shows the first value as ‘’, so it hasn\'t had the change to double quotes.\n\n### Suggested fix for documentation\n\nI think this bug got introduced due to adding a space so the triple double-quote could correctly end the string.\r\n\r\nOne fix could be to change the line:\r\n\r\n``NaN``: " """\r\n\r\nto something like\r\n\r\n``NaN``: """ + \'"\'',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55803/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55803/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55802',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55802/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55802/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55802/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/55802',
  'id': 1974617146,
  'node_id': 'I_kwDOAA0YD851skQ6',
  'number': 55802,
  'title': 'BUG: Pyarrow Float dataframe -> to_numpy yields Object type',
  'user': {'login': 's-banach',
   'id': 45150804,
   'node_id': 'MDQ6VXNlcjQ1MTUwODA0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45150804?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/s-banach',
   'html_url': 'https://github.com/s-banach',
   'followers_url': 'https://api.github.com/users/s-banach/followers',
   'following_url': 'https://api.github.com/users/s-banach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/s-banach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/s-banach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/s-banach/subscriptions',
   'organizations_url': 'https://api.github.com/users/s-banach/orgs',
   'repos_url': 'https://api.github.com/users/s-banach/repos',
   'events_url': 'https://api.github.com/users/s-banach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/s-banach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-11-02T16:26:21Z',
  'updated_at': '2023-11-02T16:26:21Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [ ] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\n\n\n### Reproducible Example\n\n```python\nimport pyarrow as pa\r\nimport pandas as pd\r\n\r\ns = pd.Series([1, 2, 3], dtype=pd.ArrowDtype(pa.float64()))\r\npd.DataFrame({"x": s, "y": s}).to_numpy().dtype\r\n\r\n"""dtype(\'O\')"""\n```\n\n\n### Issue Description\n\nOther issues such as #54808 mention `to_numpy()` yielding object types in the presence of nulls.\r\nHere I got object types even without nulls.\n\n### Expected Behavior\n\nOutput should be np.float64 array.\n\n### Installed Versions\n\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit              : a60ad39b4a9febdea9a59d602dad44b1538b0ea5\r\npython              : 3.11.3.final.0\r\npython-bits         : 64\r\nOS                  : Linux\r\nOS-release          : 4.18.0-425.19.2.el8_7.x86_64\r\nVersion             : #1 SMP Fri Mar 17 01:52:38 EDT 2023\r\nmachine             : x86_64\r\nprocessor           : x86_64\r\nbyteorder           : little\r\nLC_ALL              : None\r\nLANG                : en_US.utf8\r\nLOCALE              : en_US.UTF-8\r\n\r\npandas              : 2.1.2\r\nnumpy               : 1.25.2\r\npytz                : 2023.3\r\ndateutil            : 2.8.2\r\nsetuptools          : 67.6.1\r\npip                 : 23.0.1\r\nCython              : 3.0.0\r\npytest              : 7.4.0\r\nhypothesis          : None\r\nsphinx              : 6.2.1\r\nblosc               : None\r\nfeather             : None\r\nxlsxwriter          : 3.1.2\r\nlxml.etree          : None\r\nhtml5lib            : None\r\npymysql             : None\r\npsycopg2            : None\r\njinja2              : 3.1.2\r\nIPython             : 8.8.0\r\npandas_datareader   : None\r\nbs4                 : 4.12.2\r\nbottleneck          : None\r\ndataframe-api-compat: None\r\nfastparquet         : None\r\nfsspec              : 2023.6.0\r\ngcsfs               : None\r\nmatplotlib          : 3.7.2\r\nnumba               : 0.58.0\r\nnumexpr             : None\r\nodfpy               : None\r\nopenpyxl            : 3.1.2\r\npandas_gbq          : None\r\npyarrow             : 14.0.0\r\npyreadstat          : 1.2.1\r\npyxlsb              : None\r\ns3fs                : 2023.6.0\r\nscipy               : 1.11.2\r\nsqlalchemy          : 2.0.16\r\ntables              : None\r\ntabulate            : None\r\nxarray              : None\r\nxlrd                : None\r\nzstandard           : None\r\ntzdata              : 2023.3\r\nqtpy                : None\r\npyqt5               : None\r\n\r\n</details>\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55802/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55802/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55801',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55801/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55801/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55801/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/55801',
  'id': 1974390412,
  'node_id': 'I_kwDOAA0YD851rs6M',
  'number': 55801,
  'title': 'BUG: Creating a `pandas.DataFrame` affects `warnings` filters',
  'user': {'login': 'anmyachev',
   'id': 45976948,
   'node_id': 'MDQ6VXNlcjQ1OTc2OTQ4',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45976948?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/anmyachev',
   'html_url': 'https://github.com/anmyachev',
   'followers_url': 'https://api.github.com/users/anmyachev/followers',
   'following_url': 'https://api.github.com/users/anmyachev/following{/other_user}',
   'gists_url': 'https://api.github.com/users/anmyachev/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/anmyachev/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/anmyachev/subscriptions',
   'organizations_url': 'https://api.github.com/users/anmyachev/orgs',
   'repos_url': 'https://api.github.com/users/anmyachev/repos',
   'events_url': 'https://api.github.com/users/anmyachev/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/anmyachev/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-11-02T14:32:13Z',
  'updated_at': '2023-11-02T14:32:13Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [ ] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\n\n\n### Reproducible Example\n\n```python\nimport pandas as pd\r\nimport warnings\r\n\r\n\r\ndef test():\r\n    warnings.warn("Some message")\r\n\r\ndef test2():\r\n    warnings.warn("Some message")\r\n    pd.DataFrame()  # this call somehow affect \r\n\r\nprint(f"First case")\r\n\r\nfor _ in range(5):\r\n    test()\r\n\r\nprint(f"\\nSecond case with constructing pandas.DataFrame")\r\n\r\nfor _ in range(5):\r\n    test2()\n```\n\n\n### Issue Description\n\nLooks like it change `default` filter for `UserWarning` to `always` or something similar.\r\n\r\nOutput of the reproducer:\r\n```python\r\nFirst case\r\n...\\test_warnings2.py:6: UserWarning: Some message\r\n  warnings.warn("Some message")\r\n\r\nSecond case with constructing pandas.DataFrame\r\n...\\test_warnings2.py:9: UserWarning: Some message\r\n  warnings.warn("Some message")\r\n...\\test_warnings2.py:9: UserWarning: Some message\r\n  warnings.warn("Some message")\r\n...\\test_warnings2.py:9: UserWarning: Some message\r\n  warnings.warn("Some message")\r\n...\\test_warnings2.py:9: UserWarning: Some message\r\n  warnings.warn("Some message")\r\n...\\test_warnings2.py:9: UserWarning: Some message\r\n  warnings.warn("Some message")\r\n```\n\n### Expected Behavior\n\nI would expect the following output:\r\n\r\n```python\r\nFirst case\r\n...\\test_warnings2.py:6: UserWarning: Some message\r\n  warnings.warn("Some message")\r\n\r\nSecond case with constructing pandas.DataFrame\r\n```\n\n### Installed Versions\n\n<details>\r\n\r\n```bash\r\npandas 2.1.2\r\nPython 3.9.17\r\n```\r\n</details>\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55801/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55801/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55800',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55800/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55800/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55800/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/55800',
  'id': 1973704604,
  'node_id': 'I_kwDOAA0YD851pFec',
  'number': 55800,
  'title': 'BUG: DataFrame dtype != comparison fails',
  'user': {'login': 'avnishbm',
   'id': 12374280,
   'node_id': 'MDQ6VXNlcjEyMzc0Mjgw',
   'avatar_url': 'https://avatars.githubusercontent.com/u/12374280?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/avnishbm',
   'html_url': 'https://github.com/avnishbm',
   'followers_url': 'https://api.github.com/users/avnishbm/followers',
   'following_url': 'https://api.github.com/users/avnishbm/following{/other_user}',
   'gists_url': 'https://api.github.com/users/avnishbm/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/avnishbm/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/avnishbm/subscriptions',
   'organizations_url': 'https://api.github.com/users/avnishbm/orgs',
   'repos_url': 'https://api.github.com/users/avnishbm/repos',
   'events_url': 'https://api.github.com/users/avnishbm/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/avnishbm/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-11-02T07:58:55Z',
  'updated_at': '2023-11-02T07:58:55Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,

To filter the data, The json is similar to the list of map data structure, we use the index, and key to get the data
```python
data[0]['title']
```

In [60]:
data[0]['title']

"DOC: na_values defaults for read_csv don't match STR_NA_VALUES correctly"

So we can create the the dataframe from the given json object
```python
issues = pd.DataFrame(data, columns=['number','title',
                                     'labels','state'])
issues
```

In [61]:
issues = pd.DataFrame(data, columns=['number','title',
                                     'labels','state'])
issues

,number,title,labels,state
0,55803,DOC: na_values defaults for read_csv don't mat...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
1,55802,BUG: Pyarrow Float dataframe -> to_numpy yield...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,55801,BUG: Creating a `pandas.DataFrame` affects `wa...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,55800,BUG: DataFrame dtype != comparison fails,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,55799,BUG: Not support pyarrow 14.0,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
5,55797,ENH: add optional logging to read_sql,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
6,55795,Add missing dependencies for: _khash_primitive...,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
7,55794,BUG: infer_freq has stateful behavior,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
8,55793,BUG: mixed-type mixed-timezone/awareness,"[{'id': 60458168, 'node_id': 'MDU6TGFiZWw2MDQ1...",open
9,55792,DEPR offsets: rename ‘Y’ to ‘YE',"[{'id': 53181044, 'node_id': 'MDU6TGFiZWw1MzE4...",open
10,55791,BUG: FutureWarning appears when assigning new ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,55790,DOC: read_fwf claims to support a [str] in t...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
12,55786,PERF: Indexing a MultiIndex with a tuple can b...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
13,55785,BUG: QuarterBegin Does not work with Period,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
14,55784,BUG: Unable to create PeriodIndex with freq of...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,55783,ENH: iterdict -- like itertuples without impli...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
16,55782,API: IncompatibleFrequency should subclass Typ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,55781,BUG: Pickling the subset of dataframe isn't ze...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
18,55779,API/PERF: when to check for mismatched tzs/awa...,"[{'id': 211840, 'node_id': 'MDU6TGFiZWwyMTE4ND...",open
19,55777,List accessor,"[{'id': 2189479765, 'node_id': 'MDU6TGFiZWwyMT...",open
20,55776,BUG: Parquet size grows exponential for catego...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
21,55774,"BUG: pd.merge using ""inner"" with multi-index d...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,55773,BUG: Index name changed when using loc[] with ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
23,55772,BUG: `DataFrame.resample` changing index type ...,[],open
24,55767,PERF: Surprisingly slow nlargest with duplicat...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
25,55765,BUG: describe started rounding reported percen...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,55764,Revert logic for _constructor selection in _co...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
27,55763,BUG: pandas 2.1.2 changes how `copy` works,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,55762,DOC: Fixes DataFrame.replace documentation,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
29,55759,Issue # 51044,[],open

Getting data from other source
---
Pandas provide the tools to get historic data from many remote data source [link text](https://pydata.github.io/pandas-datareader/remote_data.html)
Some of them required the key, some are not. You can see the usage in the given link.


![image.png]()

What you have to do is just add the code to the correct provider

The list of datasource is also [shown](https://github.com/wilsonfreitas/awesome-quant#data-sources)

In [64]:
web.get_data_enigma